<!-- https://bootsnipp.com/snippets/r80XP | for side navbar's js-->

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="homestyle.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../../scripts/home-action.js"></script>
    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display&family=Dosis:wght@300&family=EB+Garamond:wght@400;500&family=Khand:wght@300&family=Open+Sans:ital,wght@0,300;0,800;1,800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=DM+Serif+Display&family=Dosis:wght@300&family=EB+Garamond:wght@400;500&family=Khand:wght@300&family=Open+Sans:ital,wght@0,300;0,800;1,800&family=Sofia&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Bitter:wght@300;400&family=DM+Serif+Display&family=Dosis:wght@300&family=EB+Garamond:wght@400;500&family=Khand:wght@300&family=Open+Sans:ital,wght@0,300;0,800;1,800&family=Sofia&display=swap"
        rel="stylesheet">

    <!-- for top-navbar -->
    <!-- https://bootsnipp.com/snippets/DV3m4 | for top nav-bar's css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="top-navbar.css">
    <!-- fonts -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management portal - The Healogics Pakistan</title>
</head>
